<% @page_title = "صفحه اصلی" %>
<div class="container home-container">
    <div class="row" style="width: auto">
            <div class="col-md-1" style="text-align:center; margin: 35px;" >
                <div class="circle circle1"><span  style="font-weight:bold;">ارومیه</span><br><span>علی: من برای مراسم عروسی یک کت و شلوار با امانتی، امانت گرفتم.</span></div>
                <div class="circle circle3"><span  style="font-weight:bold;">ایلام</span><br><span>سینا: من هر هفته با امانتی یک کتاب جدید برای مطالعه امانت می گیرم.</span></div>
            </div> 
            <div class="col-md-5" style="text-align:center" >
                <h3>امانتی، قابل استفاده در سراسر ایران</h3>
                <span>
                    <%= image_tag("map.png", :width=>'420', :alt=> 'car logo') %>
                </span>
            </div>
            <div class="col-md-1" style="text-align:center; margin: 20px; " >
                <div class="circle circle2"><span style="font-weight:bold;">مشهد</span><br><span>امیر: من به کمک  امانتی برای جشن تولدم براحتی دوربین عکاسی امانت گرفتم.</span></div>
                <div class="circle circle4"><span style="font-weight:bold">زاهدان</span><br><span>مسعود: من از طریق امانتی تو تعطیلات عید با یه قیمت کم  خونه اجاره کردم.</span></div>                
            </div>             
            <div class=" col-md-3 pull-right" style="text-align:right; margin-top:10px">
              <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center">
                    <h4>هیچ میدونستی میتونی به کمک امانتی از وسایل بلا استفاده خودت پول دربیاری؟</h4>
                </div>
                <div class="panel-body" style="text-align:center">
                    <div class="row">
                        <div class="col-md-6"> <%= image_tag("car.png", :width=>'64', :height=>'64', :alt=> 'car logo') %> </div>
                        <div class="col-md-6"> <%= image_tag("home.png", :width=>'64', :height=>'64', :alt=> 'car logo') %> </div>
                    </div>
                    <div class="row"  style="margin:20px 0px 20px 0px">
                        <div class="col-md-6"> <%= image_tag("clothes.png", :width=>'64', :height=>'64', :alt=> 'car logo') %> </div>
                        <div class="col-md-6"> <%= image_tag("book.png", :width=>'64', :height=>'64', :alt=> 'car logo') %> </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"> <%= image_tag("homeEquip.png", :width=>'74', :height=>'64', :alt=> 'car logo') %> </div>
                        <div class="col-md-6"> <%= image_tag("camera.png", :width=>'64', :height=>'64', :alt=> 'car logo') %> </div>
                    </div>  
                    <div class="row" style="margin-top:10px; color: white">
                      <button type="button" class="btn btn-danger btn-new">
                        <%= link_to("ثبت آگهی", {:controller=>'products', :action=>'new'}) %>
                      </button>  
                  



                    </div>
                </div>
              </div>
            </div>
    </div>

    <hr style="width:100%; height:2px; background: #fff"><hr/>

    <div class="row" style="text-align:center;">
            <!-- Search form -->
        <%= render(:partial => "products/search_form") %>
          
    </div>

</div>