<% provide(:title, "Log in") %>
</br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :user_name, "نام کاربری" %>
      <%= f.text_field :user_name, class: 'form-control' %>

      <%= f.label :password , "رمز ورود"%>
      <%= f.password_field :password, class: 'form-control' %></br>

      <%= f.submit "ورود", class: "btn btn-primary btn-signin"%>
    <% end %>

    <p>کاربر جدید? <%= link_to "ثبت نام!", :controller =>'users', :action => 'new' %></p>
  </div>
</div>