<% @page_title = "ویرایش مشخصات" %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 ">
    <%= form_for(@user, :url => {:action=> "update"}, html: { multipart: true }) do |f| %>


      <%= f.label :name, "نام:" %>
      <%= f.text_field :name, class: "form-control", :required => true%>

      <%= f.label :user_name, "نام کاربری:" %>
      <%= f.text_field :user_name, class: "form-control", :required => true, :disabled => true  %>


      <%= f.label :email, "ایمیل:" %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :phone_number, "شماره تلفن:" %>
      <%= f.text_field :phone_number, class: "form-control" %>

      <%= f.label :province, "استان:" %>
      <%= f.text_field :province, class: "form-control" %>

      <%= f.label :city, "شهر:" %>
      <%= f.text_field :city, class: "form-control" %>

      <%= f.label :address, "آدرس:" %>
      <%= f.text_area :address, class: "form-control" %>

      <%= f.label :email, "عکس", class: "product-new-class"  %> 
      <%= f.file_field :photo, accept: 'image/png,image/gif,image/jpeg, image/jpg, image/tif', class: "product-new-class"  %>

    </br>

      <%= f.submit "ثبت اطلاعات", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

