  <!-- search form -->
  <div class="panel panel-default">
    <div class="panel-heading">
          <%= label_tag("دنبال چی می گردی؟") %>
    </div>
    <div class="panel-body" style="text-align: center">
        <%= form_tag(method: "post",:action=> 'search', :controller=> 'products') do %>
          <div class="row">
              <div class="col-md-2 col-md-push-10" >
                <%= label_tag("عنوان آگهی") %>
              </div>
              <div class="col-md-2 col-md-push-6" >
                <%= text_field_tag("title","عنوان", class: 'form-control') %>

              </div>
              <div class="col-md-2 col-md-push-2" style="text-align: left" >
                 <%= select_tag(:category_id, options_for_select([['انتخاب گروه', '-1'],['کتاب', '0'], ['تفریحی', '1'], ['لوازم شخصی', '2'], ['لوازم الکترونیکی', '3'], ['لوازم خانگی', '4'], ['املاک', '5'], ['خودرو', '6']]), class: 'form-control my_form-control' ) %>
              </div>
              <div class="col-md-2 col-md-pull-2" >
                <%= select_tag(:city_id, options_for_select($myCity), class: 'form-control my_form-control' ) %>
              </div>
              <div class="col-md-2 col-md-pull-6" >
                <%= submit_tag("جستجو", class: 'btn btn-success') %>
              </div>
              <div class="col-md-2 col-md-pull-10" ></div>
          </div>
          </br>
          <div class="row">
              <div class="col-md-2 col-md-push-10" >
                <%= label_tag("محدوده قیمت به ریال") %>
              </div>
              <div class="col-md-2 col-md-push-6" >
                <%= text_field_tag('priceStart',nil, placeholder: 'از قیمت', class: 'form-control') %>
              </div>
              <div class="col-md-2 col-md-push-2" style="text-align: left" >
                <%= text_field_tag('priceEnd',nil, placeholder: 'تا قیمت', class: 'form-control') %>
              </div>
              <div class="col-md-2 col-md-pull-2" >
                <%= label_tag("محدوده تاریخ آگهی") %>
              </div>
              <div class="col-md-2 col-md-pull-6" >
                <%= text_field_tag('dateStart',nil, type: "date", max: "2015-6-27",  class: 'form-control') %>
              </div>
              <div class="col-md-2 col-md-pull-10" >
                <%= text_field_tag('dateEnd',nil, type: "date", max: "2015-6-27",  class: 'form-control') %> 
              </div>        
          </div>
          <br/>
          <div class="row row-sort" style="width: auto">
            <div class="col-md-10" ><%= select_tag(:sort_type, options_for_select([['جدیدترین آگهی به قدیمی ترین آگهی', '0'],['قدیمی ترین آگهی به جدیدترین آگهی', '1'], ['ارزانترین آگهی به گرانترین آگهی', '2'], ['گرانترین آگهی به ارزانترین آگهی', '3']]), class: 'form-control' ) %></div>
            <div class="col-md-2" ><%= label_tag("مرتب سازی براساس") %></div>
          </div>
        <% end %>
    </div>
  </div> 


