<% @page_title = "ویرایش امانتی" %>
<div class="well-cat">
	<h2>ویرایش یکی از امانتی ها:</h2>
  <div class="row">

    <%= form_for(@product, :url => {:action=> "update", :id=> @product.id}, :html => {:multipart => true} ) do |f| %>

 		<%= @temp %>

		<div class="col-md-2 col-md-push-8">
			<%= f.label :name, "عنوان", class: "product-new-class" %> <br/>
			<%= f.label :category_id, "انتخاب گروه", class: "product-new-class"  %> <br/>
			<%= f.label :price, "قیمت", class: "product-new-class"  %> <br/>
			<%= f.label :city, "شهر", class: "product-new-class"  %> <br/>
			<%= f.label :phone_number, "شماره تماس", class: "product-new-class"  %> <br/>
			<%= f.label :email, "ایمیل", class: "product-new-class"  %> <br/>
			<%= f.label :email, "عکس", class: "product-new-class"  %> <br/><br/>
			<%= f.label :address, "آدرس", class: "product-new-class"  %> <br/><br/><br/><br/>
			<%= f.label :name, "توضیحات", class: "product-new-class"  %> <br/>
    	</div>

        <div class="col-md-6">
	        <%= f.text_field :name, class: "form-control my_form-control" %> 
            <%= f.select(:category_id, options_for_select({ "کتاب" => "1", "تفریحی" => "2", "لوازم شخصی" => "3", "لوازم الکترونیکی" => "4", "لوازم خانگی" => "5", "املاک" => "6", "خودرو" => "7" }, @product.category_id), {}, { class: 'form-control my_form-control' }) %>	        
	        <%= f.text_field :price, type: "number", class: "form-control my_form-control", min:"0"  %>
            <%= f.select(:city, options_for_select($myCity, "id"), {}, { class: 'form-control my_form-control' }) %>
	        <%= f.text_field :phone_number, pattern: ".{0}|.{11}", class: "form-control my_form-control", placeholder: "09123456789"  %>
			<%= f.text_field :email, type: "email", class: "form-control my_form-control", placeholder: "email@temp.com"  %>
			<%= f.file_field :photo, accept: 'image/png,image/gif,image/jpeg, image/jpg, image/tif' %>
	        <%= f.text_area :address, class: "form-control my_form-control", size: "60x3" %>
			<%= f.text_area :description, class: "form-control my_form-control", size: "60x3" %>
	        <%= f.submit "ویرایش", class: "btn btn-success" %>
        </div>        	
        <div class="col-md-4 col-md-pull-8">
        	<div class="thumbnail">
        		<%= image_tag((@product.photo.url if @product.photo?), class: 'img-item', :alt=> '') %>
      		</div>        	
        </div>

    <% end %>
  </div>
</div>
