<div class="well-cat">
  <div class="row">
    <%= form_for(@product, :url => {:action=> "create"}, :html => {:multipart => true} ) do |f| %>
		<div class="col-md-2 col-md-push-7">
			<%= f.label :name, "عنوان", class: "product-new-class" %> <br/>
			<%= f.label :user_id, "کد کاربری", class: "product-new-class"  %> <br/>
			<%= f.label :price, "قیمت", class: "product-new-class"  %> <br/>
			<%= f.label :city, "شهر", class: "product-new-class"  %> <br/>
			<%= f.label :phone_number, "شماره تماس", class: "product-new-class"  %> <br/>
			<%= f.label :email, "ایمیل", class: "product-new-class"  %> <br/>
			<%= f.label :email, "عکس", class: "product-new-class"  %> <br/><br/>
			<%= f.label :address, "آدرس", class: "product-new-class"  %> <br/><br/><br/><br/>
			<%= f.label :name, "توضیحات", class: "product-new-class"  %> <br/>
    	</div>

        <div class="col-md-8 col-md-pull-3">
	        <%= f.text_field :name, class: "form-control my_form-control" %>        
	        <%= f.text_field :user_id, class: "form-control my_form-control"  %>
	        <%= f.text_field :price, type: "number", class: "form-control my_form-control"  %>
	        <%= f.text_field :city, class: "form-control my_form-control"  %>
	        <%= f.text_field :phone_number, pattern: ".{0}|.{11}", class: "form-control my_form-control"  %>
			<%= f.text_field :email, type: "email", class: "form-control my_form-control"  %>
			<%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg, image/jpg, image/tif' %>
	        <%= f.text_area :address, class: "form-control my_form-control", size: "60x3" %>
			<%= f.text_area :description, class: "form-control my_form-control", size: "60x3" %>
	        <%= f.submit "درج", class: "btn btn-success" %>
        </div>        	

    <% end %>
  </div>
</div>
