
<% @page_title = "جستجو" %>


<div class="container search-container" style="border: 2px">

    <!-- Product category -->
    <%= render(:partial => "product_category") %>

    <!-- Search form -->
    <%= render(:partial => "search_form") %>

    <% if @product.any? == false %>
      <center style = "font-size:14pt"> <%= "هیچ نتیجه ای یافت نشد"%> </center>
    <% end %>
    <!-- Items -->
    <% @product.in_groups_of(3).each do |group| %>
      <div class="row">
          <% group.each do |item| %>
            <% if item %>
              <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag((item.photo.url  if item.photo?), class: 'img-thumb-item', :alt=> item.name) %>
                <div class="caption"  style="text-align: center">
                  <h3><%= item.name%></h3>
                  <p class="p-thumb"><%= item.description %></p>
                  <button type="button" class="btn btn-success">
                    <%= link_to("اطلاعات کامل", {:controller=>'products', :action=>'show', :id=>item.id}) %>
                  </button>
                </div>
              </div>
              </div>
            <% end %>
          <% end %>
        
      </div>
    <% end %>
</div>
