
<% @page_title = "جستجو" %>


<div class="container search-container" style="border: 2px">

    <!-- Product category -->
    <%= render(:partial => "product_category") %>

    <!-- Search form -->
    <%= render(:partial => "search_form") %>

    <!-- Items -->
    <% @product.in_groups_of(3).each do |group| %>
      <div class="row">
          <% group.each do |item| %>
            <% if item %>
              <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag((item.photo.url  if item.photo?), class: 'img-thumb-item', :alt=> item.name) %>
                <div class="caption"  style="text-align: center">
                  <h3><%= item.name%></h3>
                  <p class="p-thumb"><%= item.description %></p>
                  <button type="button" class="btn btn-success">
                    <%= link_to("اطلاعات کامل", {:controller=>'products', :action=>'show', :id=>item.id}) %>
                  </button>
                </div>
              </div>
              </div>
            <% end %>
          <% end %>
        
      </div>
    <% end %>
    <!-- <div class="row" style="width: auto">
        <div class="well well-item">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <%= image_tag("cat-car.png", class: 'img-thumb-item', :alt=> 'سمند') %>
              <div class="caption"  style="text-align: center">
                <h3>سمند</h3>
                <p class="p-thumb">خودرو سواری سمند مدل 1390 به مدت 10 روز امانت داده می شود</p>
                <button type="button" class="btn btn-success">
                  <%= link_to("اطلاعات کامل", {:controller=>'products', :action=>'show', :id=>'1'}) %>
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <%= image_tag("cat-car.png", class: 'img-thumb-item', :alt=> 'سمند') %>
              <div class="caption"  style="text-align: center">
                <h3>سمند</h3>
                <p class="p-thumb">خودرو سواری سمند مدل 1390 به مدت 10 روز امانت داده می شود</p>
                <button type="button" class="btn btn-success">
                  <%= link_to("اطلاعات کامل", {:controller=>'products', :action=>'show', :id=>'1'}) %>
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <%= image_tag("cat-car.png", class: 'img-thumb-item', :alt=> 'سمند') %>
              <div class="caption"  style="text-align: center">
                <h3>سمند</h3>
                <p class="p-thumb">خودرو سواری سمند مدل 1390 به مدت 10 روز امانت داده می شود</p>
                <button type="button" class="btn btn-success">
                  <%= link_to("اطلاعات کامل", {:controller=>'products', :action=>'show', :id=>'1'}) %>
                </button>
              </div>
            </div>
          </div>
        </div>
    </div> -->
</div>
